{{> header }}
<div class="page dorms">
  <div class="body">
    {{#if loading}}
      Loading data, please wait...
    {{else}}
    <div class="container">
      <div id="{{dorm.dorm_id}}" class="dorm">
        <img src={{dorm.image}} alt="">
        <h1>{{dorm.type}}</h1>
        <p class="dorm_adress">{{dorm.place}}, {{dorm.streetAndNumber}}</p>
        <p class="dorm_info"> Kitchen: &nbsp&nbsp{{dorm.kitchen_status}}</p>
        <p class="dorm_info"> Shower: &nbsp&nbsp{{dorm.shower_status}}</p>
        <p class="dorm_info"> Toilet: &nbsp&nbsp&nbsp&nbsp&nbsp {{dorm.toilet_status}}</p>
        <h1 class="dorm_price">€{{dorm.price}}/month</h1>
      </div>
    </div>
    {{/if}}
  </div>
</div>
{{> footer }}